*
{
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial sans-serif;
    background: #eee;
}

h1
{
    margin: 50px auto 26px;
    width: 500px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.image
{
    margin: 0 auto 25px;
    height: 200px;
    width: 200px;
    border: 1px solid #f8f8f8;
}

.table
 {
     padding-left: 37px;
 }

h2
{
    width: 500px;
    margin: 23px auto 0;
    font-size: 18px;
    font-weight: bold;
}

.info p
{
    width: 500px;
    margin: 0 auto;
    font-size: 14px;
    color: #1f1f1f;
    font-weight: 400;
}


.mainText
{
    width: 500px;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 23px;
}

.border
{
    width: 500px;
    height: 1px;
    background: #c4c4c5;
    margin: 23px auto 0;
}

img {
    width: 200px;
    height: 200px;
}