* {
    background-image: url("img/bg.png");
    font-family: Arial, sans-serif;
    color: #1f1f1f;
}
.info {
    width: 500px;
    margin: 0 auto;
}
h1,
.photo {
    text-align: center;
}
img {
    border: 1px solid rgb(143, 143, 143);
    width: 200px;
    height: 200px;
}
h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    font-size: 18px;
    color: #010101;
    margin-bottom: 20px;
}
p,
ul {
    font-size: 14px;
    line-height: 1.5;
}
.article p {
    margin-left: 40px;
}
.article {
    border-top: 1px solid #1f1f1f;
}
a {
    font-style: italic;
}